{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Catégories</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a></td>
                <td>
                  {% if app.user %}
                    <ul>
                        <li>
                          <a href="{{ path('category_edit', { 'id': category.id }) }}">Modifier le nom</a>
                        </li>
                        <li>
                        </li>
                    </ul>
                  {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('category_new') }}">Nouvelle catégorie</a>
        </li>
    </ul>
{% endblock %}
