{% extends 'base.html.twig' %}

{% block body %}
	<p>Bonjour, {{ app.user.username }} ! Que voulez-vous faire ?<p>
	<ul>
		<li>
			<a href="{{ path('article_new') }}">Nouvel article</a>
		</li>
		<li>
			<a href="{{ path('tag_new') }}">Nouveau tag</a>
		</li>
		<li>
			<a href="{{ path('category_new') }}">Nouvelle catégorie</a>
		</li>
	</ul>
{% endblock %}
